<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <form method="POST">
        <input type="text" name="textbox_name" placeholder="Enter text">
        <button type="submit" name="submit_button">Submit</button>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
        <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

    </form>
</body>
<div id="excel-preview"></div>

<!-- <p>{{ user_input }}</p>
    <table>
        <tr>
            {% for header in heading %}
            <th>{{ header }}</th>
            {% endfor %}
            <tr>
                {% for row in data %} 
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
                <tr></tr>
                {% endfor %}
            </tr> 
        </tr>
    </table> -->

</html>

